
@import url('https://fonts.googleapis.com/css2?family=Ancizar+Serif:ital,wght@0,300..900;1,300..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
/*RESET BÁSICO*/
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #f4f4f4;
     font-family: "Roboto", sans-serif;
}
#container{
    display:flex;
    flex-direction: column;
    min-height: 100vh;
}
header{
    background: #1EA12D;
    color:#fff;
    padding: 20px;
    display:flex;
    justify-content: space-around;
}
header nav ul{
    list-style: none;
	padding:0;
	margin:10px;
	display:flex;
	gap:10px;
}
header nav ul li a{
	color:#fff;
	text-decoration:none;
	font-size:1.4rem;
}
header nav a:hover{
    color:#fff;
    border-radius: 20px;
    text-decoration: underline 5px greenyellow;
}
#conteudo{
    display:grid;
    grid-template-columns:1fr 200px;
}
main{
 display:flex;
/*PERMITE QUE OS ITEMS FLEXIVEIS QUEBREM DE LINHA SE NÃO HOUVER ESPAÇO NA MESMA LINHA */
flex-wrap:wrap;
justify-content:center;

}

.produto{
width:200px;
height:400px;
margin:10px;
padding:10px;
border: 1px solid #ccc;
border-radius:20px;
background:#ebebeb;
box-shadow:5px 5px 5px #bcb9b9;
}
.produto img{
    width: 100%;
    height: 150px;
    margin-top: 10px;
    border-radius: 20px;
}
.preco{
    font-weight: 700;
    margin-top: 10px;
    text-align: center;
    color:blue;
    font-size: 1.7rem;
}
button{
    background: green;
    margin-top: 15px;
    margin-left: 10px;
    padding: 15px 45px;
    border-radius: 20px;
    cursor: pointer;
    color:#fff;
}
button:hover{
    background-image: linear-gradient(green,black);
}
aside{
    width: 220px;
    padding: 10px;
    background: #f8f8f8;
}

footer{
    background: #1EA12D;
    color:#000;
    padding: 20px 0;
    margin-top:  auto;
}
.footer-content{
    display: flex;
    justify-content: space-around;
    max-width: 100%;
    margin-top: 0 auto;
}
.footer-content h3{
    margin-bottom: 30px;
}
.footer-content ul{
    list-style: none;
}
.footer-content li{
    margin-bottom: 5px;
}
.footer-content a{
    color:#000;
    text-decoration: none;
    cursor: pointer;
}

/* RESPONSIVIDADE */

@media (max-width:768px){
  
    header nav ul{
        display: flex;
        flex-direction: column;
        gap:2rem;
        align-items: center;
    }
    header nav ul li{
        width: 300px;
        height: 50px;
        text-align: center;
        border-radius: 40px;
        font-size: 1.3rem;
        background-image: linear-gradient(green,black);
    }
    header nav ul li a{
        display: flex;
        justify-content: center;
        align-items: center; 
        margin-top: 10px;
    }
    #conteudo{
        grid-template-columns: 1fr;
    }
    aside{
        display: none;
    }
    .footer-content{
        display: flex;
        text-align: center;
        flex-direction: column;
        max-width: 100%;
    }
}